

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: #070714;
    color: #ffffff;
    overflow-x: hidden;
}




body::before,
body::after {
    content: "";
    position: fixed;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.18;
    z-index: -2;
    animation: backgroundMove 12s infinite alternate ease-in-out;
}

body::before {
    background: #7c4dff;
    top: -150px;
    left: -150px;
}

body::after {
    background: #00bcd4;
    right: -150px;
    bottom: -150px;
    animation-delay: 3s;
}

@keyframes backgroundMove {
    0% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(100px, 60px) scale(1.2);
    }

    100% {
        transform: translate(-50px, -70px) scale(0.9);
    }
}




header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    background: rgba(7, 7, 20, 0.72);
    backdrop-filter: blur(18px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar {
    max-width: 1200px;
    margin: auto;

    padding: 18px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}




.logo {
    font-size: 29px;
    font-weight: 700;
    letter-spacing: 1px;

    cursor: pointer;

    transition: 0.3s;
}

.logo span {
    color: #9b7cff;
}

.logo:hover {
    transform: scale(1.08);
    text-shadow: 0 0 20px #9b7cff;
}


/* NAV LINKS */

.nav-links {
    display: flex;
    list-style: none;
    gap: 28px;
}

.nav-links a {
    position: relative;

    color: #d7d7d7;
    text-decoration: none;

    font-size: 14px;
    font-weight: 500;

    transition: 0.3s;
}

.nav-links a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -7px;

    width: 0;
    height: 2px;

    background: #9b7cff;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffffff;
}

.nav-links a:hover::after {
    width: 100%;
}




.hero {
    min-height: 100vh;

    max-width: 1200px;
    margin: auto;

    padding: 130px 30px 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 60px;
}




.hero-content {
    max-width: 650px;

    animation: heroText 1.2s ease forwards;
}

@keyframes heroText {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.intro {
    color: #a58cff;
    font-size: 20px;
    font-weight: 500;

    margin-bottom: 8px;
}

.hero h1 {
    font-size: clamp(55px, 8vw, 90px);

    line-height: 1;

    margin-bottom: 18px;

    background: linear-gradient(
        90deg,
        #ffffff,
        #a78bfa,
        #67e8f9
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradientText 4s infinite alternate;
}

@keyframes gradientText {
    from {
        filter: drop-shadow(0 0 5px rgba(167, 139, 250, 0.1));
    }

    to {
        filter: drop-shadow(0 0 25px rgba(167, 139, 250, 0.35));
    }
}

.hero h2 {
    min-height: 42px;

    font-size: 26px;

    color: #c9c3dc;
}

.hero h2 span {
    color: #9d7cff;
}

.hero-description {
    max-width: 600px;

    color: #9d9aaa;

    line-height: 1.8;

    margin: 25px 0 30px;
}




.hero-buttons {
    display: flex;
    gap: 15px;

    flex-wrap: wrap;
}

.btn {
    display: inline-block;

    padding: 13px 26px;

    border-radius: 30px;

    color: #ffffff;

    text-decoration: none;

    font-size: 14px;
    font-weight: 500;

    border: 1px solid rgba(255, 255, 255, 0.08);

    background: linear-gradient(
        135deg,
        #7657e8,
        #9c7cff
    );

    box-shadow:
        0 10px 30px rgba(124, 92, 220, 0.25);

    transition: all 0.4s ease;
}

.btn:hover {
    transform: translateY(-5px) scale(1.03);

    box-shadow:
        0 15px 40px rgba(157, 124, 255, 0.45);
}

.secondary-btn {
    background: rgba(255, 255, 255, 0.03);

    border: 1px solid rgba(157, 124, 255, 0.5);
}




.hero-image {
    position: relative;

    width: 390px;
    height: 390px;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: imageEntrance 1.4s ease forwards;
}

@keyframes imageEntrance {
    from {
        opacity: 0;
        transform: translateX(60px) scale(0.8);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}




.image-circle {
    position: relative;

    width: 290px;
    height: 290px;

    padding: 7px;

    border-radius: 50%;

    background: linear-gradient(
        135deg,
        #8b5cf6,
        #22d3ee,
        #a78bfa,
        #8b5cf6
    );

    background-size: 300% 300%;

    animation:
        gradientBorder 5s ease infinite,
        photoFloat 4s ease-in-out infinite;

    z-index: 2;
}

@keyframes gradientBorder {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes photoFloat {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }
}

.image-circle::before {
    content: "";

    position: absolute;
    inset: -15px;

    border-radius: 50%;

    border: 1px solid rgba(157, 124, 255, 0.35);

    animation: pulseRing 2.5s infinite;
}

@keyframes pulseRing {
    0% {
        transform: scale(0.95);
        opacity: 0.2;
    }

    50% {
        transform: scale(1.08);
        opacity: 0.6;
    }

    100% {
        transform: scale(0.95);
        opacity: 0.2;
    }
}

.image-circle img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;

    border-radius: 50%;

    border: 6px solid #090918;

    transition: 0.5s;
}

.image-circle:hover img {
    transform: scale(1.05);
}




.orbit {
    position: absolute;

    border-radius: 50%;

    border: 1px solid rgba(157, 124, 255, 0.25);

    animation: orbitRotate 10s linear infinite;
}

.orbit-one {
    width: 350px;
    height: 350px;
}

.orbit-two {
    width: 410px;
    height: 410px;

    border-color: rgba(34, 211, 238, 0.15);

    animation-duration: 15s;
    animation-direction: reverse;
}

@keyframes orbitRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




.section {
    max-width: 1200px;

    margin: auto;

    padding: 110px 30px;
}

.section-title {
    text-align: center;

    margin-bottom: 55px;
}

.section-title p {
    color: #9d7cff;

    font-size: 14px;

    text-transform: uppercase;

    letter-spacing: 2px;
}

.section-title h2 {
    font-size: 43px;

    margin-top: 7px;

    background: linear-gradient(
        90deg,
        #ffffff,
        #9d7cff
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.about-content {
    max-width: 850px;

    margin: auto;
}

.about-card {
    position: relative;

    padding: 45px;

    border-radius: 25px;

    background: rgba(255, 255, 255, 0.045);

    border: 1px solid rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(15px);

    overflow: hidden;

    transition: 0.5s;
}

.about-card::before {
    content: "";

    position: absolute;

    width: 150px;
    height: 150px;

    background: #8b5cf6;

    border-radius: 50%;

    filter: blur(80px);

    opacity: 0.12;

    right: -50px;
    top: -50px;
}

.about-card:hover {
    transform: translateY(-10px);

    border-color: rgba(157, 124, 255, 0.5);

    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.3);
}

.about-icon {
    font-size: 42px;

    margin-bottom: 15px;
}

.about-card h3 {
    font-size: 27px;

    margin-bottom: 18px;
}

.about-card p {
    color: #a5a2b0;

    line-height: 1.9;

    margin-bottom: 15px;
}




.skills-container {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 25px;
}

.skill-card {
    padding: 35px 25px;

    text-align: center;

    border-radius: 25px;

    background: rgba(255, 255, 255, 0.04);

    border: 1px solid rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(10px);

    transition: 0.5s;

    position: relative;

    overflow: hidden;
}

.skill-card::before {
    content: "";

    position: absolute;

    width: 100%;
    height: 2px;

    top: 0;
    left: -100%;

    background: linear-gradient(
        90deg,
        transparent,
        #9d7cff,
        transparent
    );

    transition: 0.5s;
}

.skill-card:hover::before {
    left: 100%;
}

.skill-card:hover {
    transform: translateY(-12px);

    border-color: rgba(157, 124, 255, 0.5);

    box-shadow:
        0 20px 50px rgba(124, 92, 220, 0.15);
}

.skill-icon {
    font-size: 42px;

    margin-bottom: 15px;

    transition: 0.4s;
}

.skill-card:hover .skill-icon {
    transform: scale(1.2) rotate(8deg);
}

.skill-card h3 {
    font-size: 21px;

    margin-bottom: 20px;
}

.skill-list {
    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 9px;
}

.skill-list span {
    padding: 7px 13px;

    border-radius: 20px;

    color: #c9c2e4;

    background: rgba(157, 124, 255, 0.1);

    border: 1px solid rgba(157, 124, 255, 0.2);

    font-size: 12px;

    transition: 0.3s;
}

.skill-list span:hover {
    background: #8b5cf6;

    color: white;

    transform: translateY(-3px);
}




.projects-container {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 25px;
}

.project-card {
    position: relative;

    padding: 32px;

    min-height: 320px;

    border-radius: 25px;

    background:
        linear-gradient(
            145deg,
            rgba(255,255,255,0.06),
            rgba(255,255,255,0.025)
        );

    border: 1px solid rgba(255,255,255,0.08);

    transition: 0.5s;

    overflow: hidden;
}

.project-card::after {
    content: "";

    position: absolute;

    width: 180px;
    height: 180px;

    border-radius: 50%;

    background: #8b5cf6;

    filter: blur(90px);

    opacity: 0;

    right: -80px;
    bottom: -80px;

    transition: 0.5s;
}

.project-card:hover::after {
    opacity: 0.18;
}

.project-card:hover {
    transform:
        translateY(-12px)
        scale(1.02);

    border-color: rgba(157,124,255,0.5);

    box-shadow:
        0 25px 60px rgba(0,0,0,0.35);
}

.project-top {
    display: flex;

    justify-content: space-between;

    align-items: center;
}

.project-number {
    color: #9d7cff;

    font-weight: 600;

    font-size: 14px;
}

.project-symbol {
    font-size: 24px;

    color: #b7a3ff;

    animation: starRotate 4s linear infinite;
}

@keyframes starRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.project-card h3 {
    font-size: 23px;

    margin: 30px 0 15px;
}

.project-card p {
    color: #9e9aa9;

    line-height: 1.75;
}

.project-tech {
    display: flex;

    flex-wrap: wrap;

    gap: 8px;

    margin-top: 25px;
}

.project-tech span {
    padding: 7px 12px;

    border-radius: 20px;

    background: rgba(157,124,255,0.1);

    border: 1px solid rgba(157,124,255,0.2);

    color: #c9c1e5;

    font-size: 11px;
}



.timeline {
    max-width: 850px;

    margin: auto;

    position: relative;
}

.timeline::before {
    content: "";

    position: absolute;

    left: 10px;

    top: 0;
    bottom: 0;

    width: 2px;

    background:
        linear-gradient(
            #9d7cff,
            rgba(157,124,255,0.1)
        );
}

.timeline-item {
    position: relative;

    padding-left: 45px;
}

.timeline-dot {
    position: absolute;

    left: 2px;
    top: 25px;

    width: 18px;
    height: 18px;

    border-radius: 50%;

    background: #9d7cff;

    box-shadow:
        0 0 0 6px rgba(157,124,255,0.08),
        0 0 25px #9d7cff;

    animation: dotPulse 2s infinite;
}

@keyframes dotPulse {
    50% {
        box-shadow:
            0 0 0 12px rgba(157,124,255,0.03),
            0 0 35px #9d7cff;
    }
}

.timeline-card {
    padding: 35px;

    border-radius: 25px;

    background: rgba(255,255,255,0.04);

    border: 1px solid rgba(255,255,255,0.08);

    transition: 0.4s;
}

.timeline-card:hover {
    transform: translateX(8px);

    border-color: rgba(157,124,255,0.5);
}

.timeline-card span {
    color: #9d7cff;

    font-size: 13px;
}

.timeline-card h3 {
    font-size: 25px;

    margin: 10px 0;
}

.timeline-card h4 {
    color: #bbb6c7;

    margin-bottom: 15px;
}

.timeline-card p {
    color: #9e9aa9;

    line-height: 1.8;
}




.contact-container {
    display: grid;

    grid-template-columns: 1fr 1.5fr;

    gap: 30px;
}

.contact-info {
    display: flex;

    flex-direction: column;

    gap: 18px;
}

.contact-card {
    display: flex;

    align-items: center;

    gap: 18px;

    padding: 23px;

    border-radius: 20px;

    background: rgba(255,255,255,0.04);

    border: 1px solid rgba(255,255,255,0.08);

    transition: 0.4s;
}

.contact-card:hover {
    transform: translateX(8px);

    border-color: rgba(157,124,255,0.45);
}

.contact-icon {
    font-size: 30px;
}

.contact-card h3 {
    margin-bottom: 4px;
}

.contact-card p {
    color: #9e9aa9;

    font-size: 13px;
}




.contact-form {
    display: flex;

    flex-direction: column;

    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;

    padding: 16px 18px;

    border-radius: 15px;

    border: 1px solid rgba(255,255,255,0.09);

    outline: none;

    background: rgba(255,255,255,0.035);

    color: white;

    font-family: inherit;

    transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #9d7cff;

    box-shadow:
        0 0 20px rgba(157,124,255,0.1);
}

.contact-form textarea {
    resize: vertical;
}




footer {
    text-align: center;

    padding: 60px 20px;

    border-top: 1px solid rgba(255,255,255,0.08);

    background: rgba(0,0,0,0.15);
}

footer h2 {
    font-size: 30px;
}

footer span {
    color: #9d7cff;
}

footer p {
    color: #85818f;

    margin: 10px 0;
}

.social-links {
    display: flex;

    justify-content: center;

    gap: 25px;

    margin: 22px 0;
}

.social-links a {
    color: #aaa6b4;

    text-decoration: none;

    transition: 0.3s;
}

.social-links a:hover {
    color: #9d7cff;

    transform: translateY(-4px);
}

.copyright {
    font-size: 12px;
}




.reveal {
    opacity: 0;

    transform: translateY(45px);

    transition:
        opacity 1s ease,
        transform 1s ease;
}

.reveal.active {
    opacity: 1;

    transform: translateY(0);
}




@media (max-width: 900px) {

    .nav-links {
        gap: 15px;
    }

    .hero {
        flex-direction: column-reverse;

        text-align: center;

        padding-top: 150px;
    }

    .hero-content {
        max-width: 700px;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-image {
        width: 350px;
        height: 350px;
    }

    .skills-container,
    .projects-container {
        grid-template-columns: 1fr 1fr;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }
}




@media (max-width: 600px) {

    .navbar {
        padding: 18px 20px;
    }

    .nav-links {
        display: none;
    }

    .hero {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero h1 {
        font-size: 52px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero-description {
        font-size: 14px;
    }

    .hero-image {
        width: 290px;
        height: 290px;
    }

    .image-circle {
        width: 220px;
        height: 220px;
    }

    .orbit-one {
        width: 270px;
        height: 270px;
    }

    .orbit-two {
        width: 310px;
        height: 310px;
    }

    .section {
        padding: 80px 20px;
    }

    .section-title h2 {
        font-size: 34px;
    }

    .skills-container,
    .projects-container {
        grid-template-columns: 1fr;
    }

    .about-card,
    .project-card,
    .skill-card {
        padding: 28px;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%;
        max-width: 280px;
        text-align: center;
    }
}

